.edyoda {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  font-weight: 900;
  background: linear-gradient(90.72deg, #0096ff 42.14%, #0048ff 96.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo,
.text {
  position: relative;
}
.logo {
  width: 158px;
  height: 45px;
  font-size: var(--font-size-19xl);
}
.text {
  font-weight: 500;
}
.iconChevronDown {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.leftContent {
  gap: var(--gap-45xl);
}
.leftContent,
.logIn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.text3 {
  position: relative;
  text-transform: uppercase;
}
.primaryButton {
  border-radius: var(--br-33xl);
  background: linear-gradient(266.79deg, #0048ff, #0096ff);
  height: 40px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-23xl);
  box-sizing: border-box;
  justify-content: center;
  color: var(--color-white);
}
.container,
.navBar,
.primaryButton {
  display: flex;
  align-items: center;
}
.container {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-832xl);
}
.navBar {
  background-color: var(--color-white);
  width: 1920px;
  height: 72px;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-61xl);
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
